:root{
    --main-red-color: #c42323;
    --main-blue-color: #2333c4;
    --main-green-color: #23c483;
    --green-shadow-color: rgba(46, 229, 157, 0.4);
    --blue-shadow-color: rgba(46, 92, 229, 0.4);
    --red-shadow-color: rgba(229, 46, 46, 0.4);
}

@font-face {
    font-family: 'american-typewriter'; /*a name to be used later*/
    src: url('./static/fonts/American\ Typewriter\ Bold.ttf'); /*URL to font*/
}

* {
    font-family: 'american-typewriter';
}

/* div {
    border: 1px dotted red;
} */